.page {
    position: relative;
}
.bgImg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.navBar {
    width: 100vw;
    border-bottom: 1px solid white;
    animation: navoff 5s forwards;

}


.about {
    position: relative;
    overflow: hidden;
}


.logoAbout {
    overflow: hidden;
    position: absolute;
    opacity: 0.2;
    top: 0%;
    left: 60%;
    height: 500px;
    width: 800px;
    z-index: -1;

}



@media screen and (max-width: 1441px) {
  
}
@media screen and (max-width: 1025px) {

    .navBar {
        padding-bottom: 2%;
    }
    .about {
    position: relative;
    overflow: hidden;
}


.logoAbout {
display: none;

}
 
}
@media screen and (max-width: 769px) {

}
@media screen and (max-width: 480px) {
    .bgImg{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
}